@import 'tailwindcss';
@import 'tw-animate-css';
@import 'shadcn/tailwind.css';
@import '@fontsource-variable/geist';

@custom-variant dark (&:is(.dark *));

@font-face {
  font-family: 'Nunito';
  src: url('/src/assets/fonts/Nunito-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('/src/assets/fonts/Nunito-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Nunito';
  src: url('/src/assets/fonts/Nunito-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('/src/assets/fonts/Nunito-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Nunito';
  src: url('/src/assets/fonts/Nunito-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('/src/assets/fonts/Nunito-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Nunito';
  src: url('/src/assets/fonts/Nunito-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('/src/assets/fonts/Nunito-ExtraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Nunito';
  src: url('/src/assets/fonts/Nunito-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Nunito';
  src: url('/src/assets/fonts/Nunito-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('/src/assets/fonts/Nunito-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Nunito';
  src: url('/src/assets/fonts/Nunito-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('/src/assets/fonts/Nunito-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Nunito';
  src: url('/src/assets/fonts/Nunito-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('/src/assets/fonts/Nunito-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('/src/assets/fonts/Nunito-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@theme {
  --font-sans: 'Nunito', sans-serif;
}

@theme inline {
  /* Fontes */
  --font-heading: var(--font-sans);
  --font-sans: 'Geist Variable', sans-serif;

  /* Core */
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* Cards */
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  /* Popovers */
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  /* Primary */
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-primary-blue: var(--primary-blue);
  --color-primary-green: var(--primary-green);
  --color-primary-red: var(--primary-red);

  /* Secondary */
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  /* Muted */
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  /* Accent */
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  /* Destructive */
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  /* Borders */
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  /* Charts */
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);

  /* Sidebar */
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  /* Border radius */
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
}

:root {
  --primary-blue: oklch(0.64 0.22 258);
  --primary-green: oklch(0.62 0.18 135);
  --primary-red: oklch(0.62 0.24 28);

  /* Fundo da aplicação (<body>) */
  --background: oklch(0.14 0 0);
  --foreground: oklch(1 0 0);

  /* Fundo do <Card> */
  --card: oklch(0.18 0 0);
  --card-foreground: oklch(1 0 0);

  /* Fundo do <DropdownMenu>, <HoverCard> e <Popover> */
  --popover: oklch(0.18 0 0);
  --popover-foreground: oklch(1 0 0);

  /* Botões */
  --primary: oklch(0.62 0.18 135);
  --primary-foreground: oklch(1 0 0);

  --secondary: oklch(0.27 0.01 270);
  --secondary-foreground: oklch(1 0 0);

  /* Fundo do <Switch>, <Skeleton> e <TabList> */
  --muted: oklch(0.27 0.01 270);
  --muted-foreground: oklch(0.69 0 0);

  /* Efeito de hover */
  --accent: oklch(0.27 0.01 270);
  --accent-foreground: oklch(1 0 0);

  /* Botões destrutivos */
  --destructive: oklch(0.62 0.24 28);
  --destructive-foreground: oklch(1 0 0);

  /* Bordas */
  --border: oklch(0.27 0.01 270);

  /* Inputs */
  --input: oklch(0.27 0.01 270);

  /* Focus ring */
  --ring: oklch(0.88 0 0);

  /* Border radius */
  --radius: 0.5rem;

  /* Gráficos */
  --chart-1: oklch(0.62 0.19 255);
  --chart-2: oklch(0.68 0.16 165);
  --chart-3: oklch(0.74 0.17 55);
  --chart-4: oklch(0.7 0.18 310);
  --chart-5: oklch(0.66 0.22 10);

  --sidebar: var(--card);
  --sidebar-foreground: var(--foreground);
  --sidebar-primary: var(--primary);
  --sidebar-primary-foreground: var(--primary-foreground);
  --sidebar-accent: var(--accent);
  --sidebar-accent-foreground: var(--accent-foreground);
  --sidebar-border: var(--border);
  --sidebar-ring: var(--ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply font-sans;
  }
}
